*{
    margin: 0;
}

body {
    background-color: #9bc1bc;
}

#header {
    margin: 0em;
    padding: 0em;
    border: 0em;
    text-align: center;
    background-color: #f4f1bb; 
    color: #9bc1bc;
    width: 100vw
}
/*  */
.buttonDiv {
    text-align: center
}

.button {
    background-color: #ed6a5a;
    border: none;
    color: #9bc1bc;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.hidden {
    display: none !important
}

.dice, .potentialDice, .hold {
    display: inline-block
}

.potentialDice {
    text-align: right
}

.hold {
    text-emphasis: 25
}

div {
    margin: 1em;
}

#c {
    text-align: left
}

#t {
    text-align: right
}

.potentialDice {
    background-color: #ed6a5a;
    padding: .5em;
    color: #f4f1bb;
    text-align: center
}

.hold {
    padding: 1em;
    color: #ed6a5a;
    background-color: #f4f1bb
}

.score {
    color: #f4f1bb;
    font-size: 5em;
    text-align: center
}

#instructions, #rolled {
    padding: .5em;
    color: #ed6a5a;
    text-align: center
}