.header {
    text-align: center
}

.hidden {
    display: none !important
}

.dice {
    display: inline-block
}

div {
    margin: 1em;
}
/* 
.game{
    display: none
} */
/* 
#threes {
    display: none
}

#ceelo {
    display: none
} */

.is-visible {
    display: none
}