.header {
    text-align: center


}

.hidden {
    display: none !important
}

.dice, .potentialDice, .hold {
    display: inline-block
}

.potentialDice {
    text-align: right
}



div {
    margin: 1em;
}
/* 
.game{
    display: none
} */
/* 
#threes {
    display: none
}

#ceelo {
    display: none
} */

.is-visible {
    display: none
}
#c {
    text-align: left
}

#t {
    text-align: right
}